.test{
	color: red;
	width: 600px;
	height: 400px;
	background: #ff4;
	display: flex;
	align-items: center;
	justify-content: center;
}



:root {
    --color-gray: #333;
}
.postcss-nextcss{
	color:var(--color-gray);
}